input.ng-invalid {
  border-left: 3px solid red;
}
input.ng-valid {
  border-left: 3px solid rgb(5, 230, 5);
}

  
  .container{
    width: auto;
    margin:auto;
  }

  .background{
    background-color: rgb(19, 19, 19);
  }