<div class="background">
    <div class="container">
      <div class="card-group">
        <div class="card">
          <img src="../assets/letöltés.jpg" class="card-img-top" alt="..">
          <div class="card-body">
            <h5 class="card-title">Volkswagen Bogár </h5>
            <table class="table">
              <tr>teljesítmény
                <th>120 LE</th>
              </tr>

              <tr>akkumlátor
                <th>48kwh</th>
              </tr>

              <tr>fogyasztás
                <th>6l/100km</th>
              </tr>

              <tr>Váltó
                <th>manuális</th>
              </tr>

              <tr>üzemanyag
                <th>benzin</th>
              </tr>
              <tr>Bérlés
                <th>200000ft/h</th>
              </tr>
            </table>
            <a routerLink="/cars" class="btn btn-primary">Bérlés</a>
          </div>
        </div>
        <div class="card">
          <img src="../assets/images.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Nissan Gtr R33</h5>
            <table class="table">
              <tr>teljesítmény
                <th>220 LE</th>
              </tr>

              <tr>akkumlátor
                <th>48kwh</th>
              </tr>

              <tr>fogyasztás
                <th>12l/100km</th>
              </tr>

              <tr>Váltó
                <th>manuális</th>
              </tr>

              <tr>üzemanyag
                <th>benzin</th>
              </tr>
              <tr>Bérlés
                <th>250000ft/h</th>
              </tr>
            </table>
            <a routerLink="/cars" class="btn btn-primary">Bérlés</a>
          </div>
        </div>
        <div class="card">
          <img src="../assets/lada2.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Lada</h5>
            <table class="table">
              <tr>teljesítmény
                <th>120 LE</th>
              </tr>

              <tr>akkumlátor
                <th>48kwh</th>
              </tr>

              <tr>fogyasztás
                <th>6l/100km</th>
              </tr>

              <tr>Váltó
                <th>manuális</th>
              </tr>

              <tr>üzemanyag
                <th>benzin</th>
              </tr>
              <tr>Bérlés
                <th>200000ft/h</th>
              </tr>
            </table>
            <a routerLink="/cars" class="btn btn-primary">Bérlés</a>
          </div>
        </div>
      </div>
    
      <div class="card-group">
        <div class="card">
          <img src="../assets/audi.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Audi</h5>
            <table class="table">
              <tr>teljesítmény
                <th>160 LE</th>
              </tr>

              <tr>akkumlátor
                <th>48kwh</th>
              </tr>

              <tr>fogyasztás
                <th>11l/100km</th>
              </tr>

              <tr>Váltó
                <th>manuális</th>
              </tr>

              <tr>üzemanyag
                <th>benzin</th>
              </tr>
              <tr>Bérlés
                <th>250000ft/h</th>
              </tr>
            </table>
            <a routerLink="/cars" class="btn btn-primary">Bérlés</a>
          </div>
        </div>
        <div class="card">
          <img src="../assets/bmw.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Bmw</h5>
            <table class="table">
              <tr>teljesítmény
                <th>160 LE</th>
              </tr>

              <tr>akkumlátor
                <th>48kwh</th>
              </tr>

              <tr>fogyasztás
                <th>11l/100km</th>
              </tr>

              <tr>Váltó
                <th>manuális</th>
              </tr>

              <tr>üzemanyag
                <th>benzin</th>
              </tr>
              <tr>Bérlés
                <th>250000ft/h</th>
              </tr>
            </table>
            <a routerLink="/cars" class="btn btn-primary">Bérlés</a>
          </div>
        </div>
        <div class="card">
          <img src="../assets/honda.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Honda</h5>
            <table class="table">
              <tr>teljesítmény
                <th>170 LE</th>
              </tr>

              <tr>akkumlátor
                <th>48kwh</th>
              </tr>

              <tr>fogyasztás
                <th>12l/100km</th>
              </tr>

              <tr>Váltó
                <th>manuális</th>
              </tr>

              <tr>üzemanyag
                <th>benzin</th>
              </tr>
              <tr>Bérlés
                <th>250000ft/h</th>
              </tr>
            </table>
            <a routerLink="/cars" class="btn btn-primary">Bérlés</a>
          </div>
        </div>
      </div>
    
      <div class="card-group">
        <div class="card">
          <img src="../assets/kispolski.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">kispolski</h5>
            <table class="table">
              <tr>teljesítmény
                <th>110 LE</th>
              </tr>

              <tr>akkumlátor
                <th>48kwh</th>
              </tr>

              <tr>fogyasztás
                <th>7l/100km</th>
              </tr>

              <tr>Váltó
                <th>manuális</th>
              </tr>

              <tr>üzemanyag
                <th>dízel</th>
              </tr>
              <tr>Bérlés
                <th>200000ft/h</th>
              </tr>
            </table>
            <a routerLink="/cars" class="btn btn-primary">Bérlés</a>
          </div>
        </div>
        <div class="card">
          <img src="../assets/trabant.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">trabant</h5>
            <table class="table">
              <tr>teljesítmény
                <th>120 LE</th>
              </tr>

              <tr>akkumlátor
                <th>48kwh</th>
              </tr>

              <tr>fogyasztás
                <th>6l/100km</th>
              </tr>

              <tr>Váltó
                <th>manuális</th>
              </tr>

              <tr>üzemanyag
                <th>dízel</th>
              </tr>
              <tr>Bérlés
                <th>200000ft/h</th>
              </tr>
            </table>
            <a routerLink="/cars" class="btn btn-primary">Bérlés</a>
          </div>
        </div>
        <div class="card">
          <img src="../assets/kacsa.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">citroen kacsa</h5>
            <table class="table">
              <tr>teljesítmény
                <th>90 LE</th>
              </tr>

              <tr>akkumlátor
                <th>48kwh</th>
              </tr>

              <tr>fogyasztás
                <th>5l/100km</th>
              </tr>

              <tr>Váltó
                <th>manuális</th>
              </tr>

              <tr>üzemanyag
                <th>dízel</th>
              </tr>
              <tr>Bérlés
                <th>200000ft/h</th>
              </tr>
            </table>
            <a routerLink="/cars" class="btn btn-primary">Bérlés</a>
            
          </div>
        </div>
        <div class="card">
          <img src="../assets/tesla.jpg" class="card-img-top" alt="..">
          <div class="card-body">
            <h5 class="card-title">tesla</h5>
            <table class="table">
              <tr>teljesítmény
                <th>150 LE</th>
              </tr>

              <tr>akkumlátor
                <th>48kwh</th>
              </tr>

              <tr>fogyasztás
                <th>6l/100km</th>
              </tr>

              <tr>Váltó
                <th>manuális</th>
              </tr>

              <tr>üzemanyag
                <th>Elektromos</th>
              </tr>
              <tr>Bérlés
                <th>250000ft/h</th>
              </tr>
            </table>
            <a routerLink="/cars" class="btn btn-primary">Bérlés</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  