<body class="bg-light">
  
    <div class="container">
    <main>
    
      <div class="row g-5">
        
        <div class="col-md-7 col-lg-8">
          <h4 class="mb-3">Adataim módosítása</h4>
          <form class="needs-validation" novalidate>
            <div class="row g-3">
              <div class="col-sm-6">
                <label for="firstName" class="form-label">Keresztnév</label>
                <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
       
              </div>
    
              <div class="col-sm-6">
                <label for="lastName" class="form-label">Vezetéknév</label>
                <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
    
              </div>
    
              <div class="col-12">
                <label for="username" class="form-label">Felhasználónév</label>
                <div class="input-group has-validation">
                  <span class="input-group-text">@</span>
                  <input type="text" class="form-control" id="username" placeholder="Felhasználónév" required>
    
                </div>
              </div>
    
              <div class="col-12">
                <label for="email" class="form-label">Email </label>
                <input type="email" class="form-control" id="email" placeholder="valami@valami.hu">
    
              </div>
    
              <div class="col-12">
                <label for="address" class="form-label">cím</label>
                <input type="text" class="form-control" id="address" placeholder="1106 valami utca 12" required>
            
              </div>
    
              <div class="col-12">
                <label for="address2" class="form-label">cím<span class="text-muted">(értesítési)</span></label>
                <input type="text" class="form-control" id="address2" placeholder="1106 valami utca 12">
              </div>
    
              <div class="col-md-5">
                <label for="country" class="form-label">ország</label>
                <input type="text" class="form-control" id="country">
    
              </div>
    
              <div class="col-md-4">
                <label for="city" class="form-label">város</label>
                <input type="text" class="form-control" id="city">
    
              </div>
    
              <div class="col-md-3">
                <label for="zip" class="form-label">irányítószám</label>
                <input type="text" class="form-control" id="zip" placeholder="" required>
              </div>
            </div>
    
            
    
            
    
            <button class="w-100 btn btn-primary btn-lg button" type="submit">adatok mentése</button>
          </form>
        </div>
      </div>
    </main>
    
      <!-- FOOTER -->
      <footer class="my-5 pt-5 text-muted text-center text-small">
    
        <p>&copy; Steili Roland és Jakab Attila. &middot; <a routerLink="#">Privacy</a> &middot; <a routerLink="#">Terms</a></p>
      </footer>
    </div>
    
    
    
    </body>