
<body>

<main>

  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        
        <div class="container">
          <div class="carousel-caption text-start">
            <h1>üdv az oldalon</h1>

            <p>Autóink bérlése elött regisztrálj az oldalra!</p>
            <p><a class="btn btn-lg btn-primary" routerLink="/register">Regisztrálj még ma!!</a></p>
            
          </div>
        </div>
      </div>
      <div class="carousel-item">
        
        <div class="container">
          <div class="carousel-caption">
            <h1></h1>
            <p>Hogyha szeretnél autót bérelni ne habozz a gombra kattintani!!</p>
            <p><a class="btn btn-lg btn-primary" routerLink="/cards">Bérelj még ma!!</a></p>
          </div>
        </div>
      </div>
      
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <div class="container marketing">


    <div class="row">
      <div class="col-lg-4">
        <img src="../assets/valami.jpg" alt="" width="170" height="170" class="rounded-circle me-2">
        <h2>Autóink</h2>
        <p>jelenlegi autóink összegyüjtve egy helyre</p>
        <p><a class="btn btn-primary" routerLink="/cards">részletek &raquo;</a></p>
      
      </div>
      <div class="col-lg-4">
        <img src="../assets/letöltés.jpg" alt="" width="170" height="170" class="rounded-circle me-2">
        <h2>régies autóink</h2>
        <p>régebb tipusú autóink összegyüjtve</p>
        <p><a class="btn btn-primary" routerLink="/oldcard">részletek &raquo;</a></p>
      </div>
      <div class="col-lg-4">
        <img src="../assets/tesla.jpg" alt="" width="170" height="170" class="rounded-circle me-2">
        <h2>újabb tipusú autóink</h2>
        <p>újabb tipusú autóink összegyüjtve</p>
        <p><a class="btn btn-primary" routerLink="/newcard">részletek &raquo;</a></p>
      </div>
    </div>




    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">régebb tipusú <span class="text-muted">verseny autóink</span></h2>
        <p class="lead">érdekelnek a régi tipusú verseny autók? nálunk meg találja</p>
      </div>
      <div class="col-md-5">
        <img src="../assets/images.jpg" alt="">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">újabb tipusú<span class="text-muted">verseny autóink</span></h2>
        <p class="lead">érdekelnek a újabb tipusú verseny autók? nálunk meg találja</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="../assets/valami.jpg" alt="">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">regi tipusú<span class="text-muted">autóinkt</span></h2>
        <p class="lead">vagy sokkal inkább szereti az oldschool járgányokat? nálunk azokból is válogathat</p>
      </div>
      <div class="col-md-5">
        <img  src="../assets/letöltés.jpg" alt="">
      </div>
    </div>

    <hr class="featurette-divider">


  </div>


  <!-- FOOTER -->
  <footer class="container">

    <p>&copy; Steili Roland és Jakab Attila. &middot; <a routerLink="#">Privacy</a> &middot; <a routerLink="#">Terms</a></p>
  </footer>

  
</main>

</body>
