<body class="text-center">
<main class="form-register">
<div class="background">
  <div class="container p-4 border bg-secondary">
    <button type="button" class="btn-close float-end" routerLink="/" aria-label="Close"></button>
      <h1>Regisztráció</h1>
  <form [formGroup]="registerForm" (ngSubmit)="register()">
      <div class="form-floating">
          <input type="text" class="form-control" id="user" aria-describedby="userHelp" placeholder="név" formControlName="user">
          <label for="user" class="form-label">Név</label>
          <small *ngIf="registerForm.controls['user'].invalid && registerForm.controls['user'].touched">név kötelező</small>
        </div>
      <div class="form-floating">
        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="email" formControlName="email">
        <label for="email" class="form-label">Email</label>
        <small *ngIf="registerForm.controls['email'].invalid && registerForm.controls['email'].touched">email kötelező</small>
      </div>

      <div class="form-floating">
        <input type="password" class="form-control" id="password" formControlName="pass" placeholder="jelszó">
        <label for="password" class="form-label">Jelszó</label>
        <small *ngIf="registerForm.controls['pass'].invalid && registerForm.controls['pass'].touched">jelszó kötelező</small>
  
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="password2" formControlName="pass2" placeholder="jelszó megint">
        <label for="password2" class="form-label">Jelszó megint</label>
        <small *ngIf="registerForm.controls['pass2'].invalid && registerForm.controls['pass2'].touched">jelszó kötelező</small>
  
      </div>
      <button type="submit" class="w-100 btn btn-lg btn-primary">Regisztráció</button>
    </form>
  </div>
</div>
</main>
</body>