

<div class="background">

    <div class="navbar">
      <div class="navbar">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li>
                    <a class="nav-link btn" routerLink="/main">Főoladal</a>
                  </li>
                  <li *ngIf="!isLoggedIn()" class="nav-item">
                    <a class="nav-link btn" routerLink="/login" routerLinkActive="active">Belépés</a>
                  </li>

                  <li *ngIf="!isLoggedIn()" class="nav-item">
                    <a class="nav-link btn" routerLink="/register" routerLinkActive="active">Regisztráció</a>
                  </li>
                   
                  <li *ngIf="!isLoggedIn()" class="nav-item  ">
                    <a class="nav-link btn" (click)="logout()" routerLink="/main" >kijelentkezés</a>
                  </li> 
                  <li class="nav-item">
                    <a class="nav-link btn" routerLink="/vehicles">Új autó felvétele</a>
                  </li>
                  
              
                </ul>
                
                <form class="d-flex">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
              </div>
          </nav>
          <!-- <select class="form-select navbar-secondary bg-secondary" aria-label="Default select example">
            <option selected>nyiss le</option>
            <option value="1">suzuki</option>
            <option value="2">wolkswagen</option>
            <option value="3">bmw</option>
          </select> -->

      </div>
  
    </div>
  </div>
  

<div>
<router-outlet></router-outlet>
</div>